@import "vars";
@import "nanoreset";

html, body {
  font-family: 'Roboto', sans-serif;
}

a, a:link, a:hover, a:visited, a:active {
  color: $primaryColor;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: $primaryColorDark;
  display: block;
}

h4 {
  font-size: 16px;
  color: $darkGrey;
}