@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

a, a:visited, a:link, a:active {
    color: #31859c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2
{
    color: #205969;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 2rem;
}

.contact-appointments
{
    display: grid;
    grid-template-columns: 0.25rem 1fr 15rem 10rem;
    cursor: pointer;
}