@import './vars';

.help {
  display: block;
  text-align: center;
  padding: 1rem;
  font-style: italic;
}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: $greyLight;
  }
}

.iconButton {
  display: block;

  cursor: pointer;
  margin: auto;

}

.iconSmall {
  & svg {
    width: 1.50rem;
    height: 1.20rem;
  }
  display: inline;
  line-height: 1.5rem;
  position: absolute;
  top: 0.15rem;
  right: 0;
}

.buttonField {
  padding-top: 1.5rem;
}

.text {
  > textarea {
    height: 20rem;
  }
}

.badge {
  border: 1px $primaryColor solid;
  border-radius: 0.25rem;
  margin: 0.25rem;
  color: $primaryColor;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.list {
  > div {
    border-bottom: 1px $light dashed;
  }

  > div:last-child {
    border-bottom: 1px transparent dashed;
  }
}

