@import './vars';

.help {
  display: block;
  text-align: center;
  padding: 1rem;
  font-style: italic;
}

.clickable
{
  cursor: pointer;
  
  &:hover {
    background-color: $greyLight;
  }
}

.iconButton {
  display: block;
 
  cursor: pointer;
  margin: auto;
  
}

.buttonField
{
  padding-top: 1.5rem;
}

.text {
  > textarea {
    height: 20rem;
  }
}