@import "vars";

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.header
{
  font-weight: bold;
  border-bottom: 1px $grey solid;
}

.table1
{
  grid-column: auto / span 1;
  padding: 0.25rem;
}

.table2
{
  grid-column: auto / span 2;
  padding: 0.25rem;
}

.table3
{
  grid-column: auto / span 3;
  padding: 0.25rem;
}

.table4
{
  grid-column: auto / span 4;
  padding: 0.25rem;
}

.table5
{
  grid-column: auto / span 5;
  padding: 0.25rem;
}
.table6
{
  grid-column: auto / span 6;
  padding: 0.25rem;
}
.table7
{
  grid-column: auto / span 7;
  padding: 0.25rem;
}
.table8
{
  grid-column: auto / span 8;
  padding: 0.25rem;
}
.table9
{
  grid-column: auto / span 9;
  padding: 0.25rem;
}
.table10
{
  grid-column: auto / span 10;
  padding: 0.25rem;
}
.table11
{
  grid-column: auto / span 11;
  padding: 0.25rem;
}
.table12
{
  grid-column: auto / span 12;
  padding: 0.25rem;
}