$primaryColor: #4F6F8C;
$primaryColorDark: #3D5A73;
$light: #F2E2CE;
$red: #8C0303;
$success: #2c7722;
$warning: #e5811c;

$grey: #e1e1e1;
$mediumGrey: #adb5bd;
$darkGrey: #495057;
$slate: #f8fafc;
$mediumSlate: #e5e7eb;

$breakpointSM: 640px;
$breakpointMD: 768px;
$breakpointLG: 1024px;
$breakpointXL: 1280px;
$breakpointXXL: 1440px;

$shadow: 0 4px 6px -1px rgba(0,0,0,0.1);