$primaryColor: #31859c;
$primaryColorDark: #205969;
$light: #699EAC;
$red: #8F281E;
$success: #178D8E;
$warning: #DB920D;

$greyLight: #f3f3f3;
$grey: #e1e1e1;
$mediumGrey: #adb5bd;
$darkGrey: #495057;
$slate: #f8fafc;
$mediumSlate: #e5e7eb;

$breakpointSM: 640px;
$breakpointMD: 768px;
$breakpointLG: 1024px;
$breakpointXL: 1280px;
$breakpointXXL: 1440px;

$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);