@import "../../vars";

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.lastName {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.firstName {
  grid-row: 1;
  grid-column: 3 / span 2;
}

.patientsSuggestions {
  grid-row: 2;
  grid-column: span 4;


}

.patientsSuggestion {
  cursor: pointer;
  padding: 0.25rem;
  &:hover {
    background-color: $light;
  }
}