@import "../../vars";

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.lastName {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.firstName {
  grid-row: 1;
  grid-column: 3 / span 2;
}

.patientsSuggestions {
  grid-row: 2;
  grid-column: span 4;
}

.patientsSuggestion {
  cursor: pointer;
  padding: 0.25rem;
  &:hover {
    background-color: $light;
  }
}

.tariffs
{
  grid-row: 3;
  grid-column: span 4;

  select {
    display: block;
    border: 1px $grey solid;
    outline: none;
    padding: 0.5rem;
    width: 100%;
  }
}

.type {
  grid-row: 4;
  grid-column: 1 / span 2;
}

.price {
  grid-row: 4;
  grid-column: 3 / span 2;
}

.date
{
  grid-row: 5 / span 3;
  grid-column: 1 / span 2;
}

.hour
{
  grid-row: 5;
  grid-column: 3 / span 2;
}

.duration
{
  grid-row: 6;
  grid-column: 3 / span 2;
}

.durationText
{
  grid-row: 7;
  grid-column: 3 / span 2;
}

.payment
{
  grid-row: 8;
  grid-column: 3 / span 2;
}

.state
{
  grid-row: 8;
  grid-column: 1 / span 2;
}

.cancel
{
  grid-row: 9;
  grid-column: 1;
}

.receipt
{
  grid-row: 9;
  grid-column: 2;
}

.save
{
  grid-row: 9;
  grid-column: 4;
}