@import "../../vars";

.container
{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 15rem;
  border-right: 1px $grey solid;
  background-color: white;

  @media (max-width: $breakpointLG) {
    display: none;
  }
}

.mobile
{
  display: block;
}

.item a
{
  display: block;
  line-height: 2.5rem;
  padding-left: 1rem;
  
  &:hover
  {
    text-decoration: none;
    background-color: $greyLight;
  }
}

.title
{
  margin-top: 1rem;
  font-weight: bold;
  display: block;
  line-height: 2.5rem;
  padding-left: 1rem;
  color: $primaryColorDark;
}

.active
{
  border-right: 0.25rem $primaryColor solid;
  background-color: $greyLight;
}