@import "../../vars";

.section {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px $grey solid;
  box-shadow: 0 0 7px 0 #00000021;

  @media (max-width: $breakpointMD) {
    padding: 0;
    box-shadow: none;
    border-bottom: none;
  }

  header {
    display: grid;
    grid-template-columns: auto 10rem;

    h2 {
      grid-column: 1;
    }

    a {
      grid-column: 2;
    }
  }
}