@import "../vars";

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.lastName {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 2;
  }
}

.firstName {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 3 / span 2;
  }
}

.birthDate {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 2;
  }
}

.phoneNumber {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 3 / span 2;
  }
}

.contactsSuggestions {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 4;
  }
}

.contactsSuggestion {
  cursor: pointer;
  padding: 0.25rem;

  &:hover {
    background-color: $light;
  }
}

.tariffs {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 2;
  }

  select {
    display: block;
    border: 1px $grey solid;
    outline: none;
    padding: 0.5rem;
    width: 100%;
  }
}

.price {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 3 / span 2;
  }
}

.type {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 4;
  }
}



.date {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 2;
  }
}

.hour {
  grid-column: 1 / span 2;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 2;
  }
}

.duration {
  grid-column: 3 / span 2;

  @media (min-width: $breakpointMD) {
    grid-column: 3 / span 2;
  }
}

.durationText {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 3 / span 2;
  }
}

.payment {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 1 / span 2;
  }
}

.state {
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-column: 3 / span 2;
  }
}

.documents {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-gap: 0.25rem;

  > select {
    grid-column: 1;
    display: block;
    border: 1px $light solid;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    color: $primaryColor;
  }

  @media (min-width: $breakpointMD) {
    grid-row: 9;
    grid-column: 2 / span 2;
  }
}

.documentsSave {
  height: 100%;
  width: 32px;
  cursor: pointer;
  background-color: $primaryColor;

  svg {
    color: white;
    display: block;
    margin: auto;
    height: 29px;
    width: 24px;
    padding-top: 5px;
  }
}

.cancel {
  grid-column: 1 / span 2;

  @media (min-width: $breakpointMD) {
    grid-column: 1;
  }
}

.save {
  grid-column: 3 / span 2;

  @media (min-width: $breakpointMD) {
    grid-column: 4;
  }
}

.noDocuments {
  padding: 1rem;
  text-align: center;
  font-style: italic;
}

.document {
  padding: 1rem 0;

  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 32px;

  grid-template-areas: 
	'title icons'
	'help icons';

  gap: 0;
  height: 100%;
}

.documentTitle {
  grid-area: title;
}

.documentDate {
  font-style: italic;
  grid-area: help;
}

.documentAction {
  grid-area: icons;
  text-align: right;
}

.documentSave {
  cursor: pointer;

  svg {
    color: $light;
    height: 24px;
    width: 24px;
  }
}