@import '../vars';

.navigationHeader {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 24px auto 24px;

  svg {
    height: 24px;
    width: 24px;
    color: $primaryColor;
  }
}

.navigationLeft {
  grid-column: 1;
  display: block;
  cursor: pointer;
}

.navigationRight {
  grid-column: 3;
  display: block;
  cursor: pointer;
}

.calendar {
  display: grid;
  grid-template-columns: 2rem repeat(7, 1fr);
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.headerDay {
  height: 3rem;
  line-height: 3rem;
  grid-row: 1;
  text-align: center;
  border-bottom: 1px $mediumGrey solid;
  border-right: 1px $light solid;
  white-space: nowrap;
}

.hour {
  grid-column: 1;
  grid-row-end: span 2;
  text-align: left;
  border-bottom: 1px $mediumGrey solid;
  border-right: 1px $mediumGrey solid;
  vertical-align: middle;
}

@for $i from 0 to 24 {
  .hour#{$i} {
    grid-row-start: calc($i * 2 + 1);
  }
}

@for $i from 0 to 24 {
  .hourEnd#{$i} {
    grid-row-start: calc($i * 2 + 2);
  }
}

@for $i from 1 to 8 {
  .day#{$i} {
    grid-column-start: $i + 1;
  }
}

.day6, .day7 {
  background-color: $greyLight;
}

@for $i from 1 to 48 {
  .duration#{($i * 30)} {
    grid-row-end: span $i;
  }
}

.dayHourFirst, .dayHourSecond {
  height: 1.5rem;
  border-right: 1px $light solid;
}

.dayHourFirst {
  padding: 0.25rem;
  border-bottom: 1px $light dashed;
}

.dayHourSecond {
  padding: 0.25rem;
  border-bottom: 1px $mediumGrey solid;
}

.calendarItem {
  height: 100%;
  font-size: 0.85rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  background-color: $primaryColor;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  position: relative;

  @media (max-width: $breakpointLG) {
    font-size: 0.7rem;
    padding-left: 0.1rem;
    white-space: normal;
  }

  @media (max-width: $breakpointLG) {
    > div {
      display: none;
    }
  }
}

.mobileWarning {
  color: $warning;
  text-align: center;
  font-style: italic;
}

.dayAction {
  cursor: pointer;

  &:hover {
    background-color: opacify($light, 0.1);
  }
}