@import "../vars";

.section {
  padding: 1rem;
  border-bottom: 1px $grey solid;
  box-shadow: 0 0 7px 0 #00000021;
  
  h2 {
    padding-top: 1rem;
  }
}

.tariffGrid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 1rem;
  
  > div {
  }
}

.tariffAdd {
  
  padding-top: 1rem;
  
  a {
    cursor: pointer;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}