@import "../vars";

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.lastName {
  grid-row: 1;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

.firstName {
  grid-row: 2;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 1;
    grid-column: 3 / span 2;
  }
}

.patientsSuggestions {
  grid-row: 3;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 2;
    grid-column: span 4;
  }
}

.patientsSuggestion {
  cursor: pointer;
  padding: 0.25rem;

  &:hover {
    background-color: $light;
  }
}

.tariffs {
  grid-row: 4;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 3;
    grid-column: span 4;
  }

  select {
    display: block;
    border: 1px $grey solid;
    outline: none;
    padding: 0.5rem;
    width: 100%;
  }
}

.type {
  grid-row: 5;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
}

.price {
  grid-row: 6;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 4;
    grid-column: 3 / span 2;
  }
}

.date {
  grid-row: 7;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 5 / span 3;
    grid-column: 1 / span 2;
  }
}

.hour {
  grid-row: 8;
  grid-column: 1 / span 2;

  @media (min-width: $breakpointMD) {
    grid-row: 5;
    grid-column: 3 / span 2;
  }
}

.duration {
  grid-row: 8;
  grid-column: 3 / span 2;

  @media (min-width: $breakpointMD) {
    grid-row: 6;
    grid-column: 3 / span 2;
  }
}

.durationText {
  grid-row: 9;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 7;
    grid-column: 3 / span 2;
  }
}

.payment {
  grid-row: 10;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 8;
    grid-column: 3 / span 2;
  }
}

.state {
  grid-row: 11;
  grid-column: 1 / span 4;

  @media (min-width: $breakpointMD) {
    grid-row: 8;
    grid-column: 1 / span 2;
  }
}

.documents {
  grid-row: 13;
  grid-column: 1 / span 4;
  
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-gap: 0.25rem;

  > select {
    grid-column: 1;
    display: block;
    border: 1px $light solid;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    color: $primaryColor;
  }

  @media (min-width: $breakpointMD) {
    grid-row: 9;
    grid-column: 2 / span 2;
  }
}

.documentsSave
{
  height: 100%;
  width: 32px;
  cursor: pointer;
  background-color: $primaryColor;
  
  svg {
    color: white;
    display: block;
    margin: auto;
    height: 29px;
    width: 24px;
    padding-top: 5px;
  }
}

.cancel {
  grid-row: 12;
  grid-column: 1 / span 2;

  @media (min-width: $breakpointMD) {
    grid-row: 9;
    grid-column: 1;
  }
}

.save {
  grid-row: 12;
  grid-column: 3 / span 2;

  @media (min-width: $breakpointMD) {
    grid-row: 9;
    grid-column: 4;
  }
}