@import "../vars";

.searchContainer {
  border-bottom: 1px $grey solid;
  box-shadow: 0 0 7px 0 #00000021;
}

.searchPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.searchField {
  grid-column: auto / span 1;
  grid-row: auto;

  @media (max-width: $breakpointMD) {
    grid-column: auto / span 2;
    grid-row: auto;
  }

  @media (max-width: $breakpointSM) {
    grid-column: auto / span 4;
    grid-row: auto;
  }
}

.searchButton {
  grid-column: 4;
  grid-row: auto;
}

.resetButton {
  grid-column: 1;
  grid-row: auto;
}

.newButton {
  grid-column: 3;
  grid-row: auto;
}

.searchResults {
  h2 {
    padding: 1rem 0 0 0.5rem;
  }
}

.searchResultsTable {
  display: grid;
}

.searchResultsRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0.5rem;
}

.searchResultsRowPatient {
  cursor: pointer;
  
  &:hover {
    background-color: $greyLight;
  }
}

.searchResultsHeader {
  grid-column: auto;
  grid-row: 1;
  font-weight: bold;
  border-bottom: 1px $grey solid;
}

.searchResultsCell {
  grid-column: auto;
  grid-row: auto;
}

.helpText {
  display: block;
  text-align: center;
  padding: 1rem;
  font-style: italic;
}