@import "../vars";

.cardTitle {
  display: grid;
  grid-template-columns: 2rem auto;

  & > a {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    grid-column: 1;
    cursor: pointer;
  }

  & > h1 {
    grid-column: 2;
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  padding-top: 1rem;
}

.contactFieldExtraSmall {
  grid-column: auto / span 1;

  @media (max-width: $breakpointSM) {
    grid-column: auto / span 2;
  }
}

.contactFieldSmall {
  grid-column: auto / span 2;

  @media (max-width: $breakpointSM) {
    grid-column: auto / span 4;
  }
}

.contactFieldAverageSmall {
  grid-column: auto / span 3;

  @media (max-width: $breakpointSM) {
    grid-column: auto / span 8;
  }
}

.contactField {
  grid-column: auto / span 4;

  @media (max-width: $breakpointSM) {
    grid-column: auto / span 8;
  }
}

.contactFieldWide {
  grid-column: auto / span 6;

  @media (max-width: $breakpointSM) {
    grid-column: auto / span 8;
  }
}

.saveButton {
  grid-column: 7 / span 2;
  text-align: right;

  & > button {
    width: 100%;
  }

  @media (max-width: $breakpointSM) {
    grid-column: auto / span 8;
  }
}

