@import "../../vars";

.button
{
  border: 1px $primaryColorDark solid;
  background-color: $primaryColor;
  width: 10rem;
  color: $light;
  padding: 0.5rem;
  cursor: pointer;
  
  transition: background-color 500ms;
  
  &:hover
  {
    background-color: $primaryColorDark;
  }
}