@import "../../vars";

.label {
  display: block;
}

.input, .errorInput {
  display: block;
  border: 1px $grey solid;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.pill {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  width: 5rem;
  user-select: none;

  > div {
    text-align: center;
  }
}

.refresh {
  text-align: center;
  cursor: pointer;

  & > svg {
    width: 24px;
    height: 24px;
    margin: auto;
  }
}

.errorInput {
  border-color: $red;
}

.input:focus, .input:active {
  border: 1px $light solid;
}

.colorPicker {
  background-color: white;
  box-shadow: $shadow;
  border: 1px $grey solid;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;

  @media (min-width: $breakpointLG) {
    position: absolute;
  }
}

.colorPickerChoice {
  width: 2rem;
  height: 2rem;
  border: 1px $grey solid;
  grid-row: auto;
  grid-column: auto;
  cursor: pointer;
}