@import "../vars";

.toasterContainer
{
  position: fixed;
  top: 2rem;
  left:0;
  right: 0;
}
.toaster
{
  position: relative;
  margin: auto;
  width: 50%;
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px $primaryColor solid;
  box-shadow: $shadow;
  
  & > a {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;
    
    & > svg{
      width: 1.5rem;
    }
  }

  @media (max-width: $breakpointMD) {
    width: 90%;
  }
}

.toasterSuccess{
  color: $success;
  border-color: $success;
  & path {
    color: $success;
  }
}

.toasterInfo{
  color: $primaryColor;
  border-color: $primaryColor;
  & path {
    color: $primaryColor;
  }
}

.toasterWarning{
  color: $warning;
  border-color: $warning;
  & path {
    color: $warning;
  }
}
.toasterError{
  color: $red;
  border-color: $red;
  & path {
    color: $red;
  }
}
